footer {
    width : 100%;
    background-color: $colour-footer;
}
.footer {
    max-width: 1200px;
    color: white;
    padding-left: 20px;
    font-size: 18px;
    padding-top:10px;
    padding-bottom: 20px;
    &_title {
        margin-top : 20px;
        margin-bottom: 20px;
    }
}

footer li  {
    font-size: 14px;
    list-style: none;
    &  > a {
    color: white;
    }
}

.footer i {
    width: 30px;
}