@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: white;
  /*width: 375px; */
  margin: 0 auto;
}

main, footer {
  padding-left: 20px;
  padding-right: 20px;
}

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F0F0F0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
  margin: 20px auto;
  font-size: 3rem;
  color: grey;
}

.h2_accueil {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

textarea {
  font-weight: 500;
  font-size: 2rem;
}

button {
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.footer_title {
  font-family: "Shrikhand";
}

.title_index {
  font-weight: 600;
  margin: 20px auto;
  font-size: 3rem;
  color: grey;
}

p {
  font-size: 16px;
  color: grey;
}

.bouton_commander {
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  width: 60%;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-top: 40px;
  margin-bottom: 50px;
}
.bouton_commander:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px #3b2e30;
}

.bouton_explorer {
  margin: 0 auto;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: white;
  width: 70%;
  border-radius: 22.5px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-bottom: 50px;
}
.bouton_explorer:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px #3b2e30;
}

/* [FULL SCREEN SPINNER] */
.spin-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.99;
  animation: spin-back 3s ease-in forwards;
}

.spin-middle {
  position: fixed;
  top: 50%;
  left: 50%;
}

.spin-front {
  position: relative;
  top: -50px;
  left: -50px;
  border: 30px solid #0042A4;
  border-radius: 50%;
  border-top: 30px solid #9356DC;
  border-right: 30px solid #FF79DA;
  border-bottom: 30px solid #99E2D0;
  border-left: 30px solid #C9E0FF;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s ease-in forwards;
  animation: spin 3s ease-in forwards;
  /* animation-timing-function: cubic-bezier(.53,.01,.2,1); */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes spin-back {
  99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header {
  background: #9356DC;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  font-size: 7rem;
  color: #FF79DA;
  margin-left: 10rem;
  /* @include heading-shadow($colour-white); */
}

.logo {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-family: "Shrikhand";
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

header i {
  position: absolute;
  top: 30px;
  left: 20px;
  font-weight: 900;
}

.recherche {
  text-align: center;
}

.h2_accueil_header {
  width: 60%;
}

.recherche p {
  margin-bottom: 20px;
}

.champ_recherche {
  background-color: #E0E0E0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 3px solid #D0D0D0;
}
.champ_recherche_input {
  background-color: #E0E0E0;
  border: none;
  font-weight: 600;
}

.fonctionnements {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.fonctionnements .h2_accueil, .restaurants .h2_accueil {
  margin-left: 20px;
  margin-top: 10px;
}

.fonctionnement {
  margin: 0 auto;
  width: 100%;
  display: flex;
  font-size: 18px;
  background-color: #F0F0F0;
  align-items: center;
  height: 70px;
  width: 90%;
  box-shadow: 5px 5px 5px #c4c0c0;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
}
.fonctionnement__cercle {
  display: flex;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}
.fonctionnement__icon {
  text-align: center;
  width: 50px;
  color: grey;
}

.purple_icon {
  color: #9356DC;
}

.restaurants {
  margin-bottom: 60px;
}

.restaurant {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px grey;
  /* box-shadow: $box-shadow-restaurant; */
  margin-bottom: 20px;
}
.restaurant__note {
  display: flex;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}
.restaurant__name {
  font-size: 18px;
  font-weight: 700;
}
.restaurant__location {
  font-size: 15px;
}

.restaurant i {
  /*transition: all 450ms;    ???? */
  /*&:hover {
      transform: scale(1.13);
      color: $colour-primary;
  }*/
}

.spinner {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 575px) {
  .liste_plats {
    flex-direction: column;
    width: 100%;
  }

  .plats {
    min-width: 300px;
    width: 100%;
  }
}
.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding-left: 20px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer li {
  font-size: 14px;
  list-style: none;
}
footer li > a {
  color: white;
}

.footer i {
  width: 30px;
}

.img_restaurants {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
  height: 180px;
  margin-top: -15px;
}

.img_restaurant {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
  height: 250px;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
  padding-top: 30px;
  border-radius: 30px 30px 0 0;
  z-index: 1;
}
.menu__title {
  width: 100%;
  font-family: Shrikhand;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.liste_plats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plats {
  min-width: 300px;
  /*width: 33%;*/
}

/*  animation translation prix et rotation icone */
.plat {
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px #d8d2d2;
  display: flex;
  flex-grow: 1;
  width: 95%;
  position: relative;
  height: 80px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: 1000ms ease 0ms 1 normal both running plat;
}
.plat__contenu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  align-items: center;
}
.plat__desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__prix {
  font-weight: 700;
  padding-right: 0;
  transition: padding-right 300ms linear;
  margin: 0 10px;
}
.plat__titre {
  font-size: 18px;
  font-weight: 700;
}
.plat__note {
  font-size: 16px;
}

.valid_v2 {
  background: #99E2D0;
  position: absolute;
  width: 80px;
  height: 80px;
  right: -80px;
  transition: right 300ms linear;
}

.check_icon {
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  color: #99E2D0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.plat:hover {
  cursor: pointer;
}

.offset_v2 {
  width: 0px;
  transition: width 300ms linear;
}

.plat:hover .valid_v2 {
  right: 0px;
}

.plat:hover .plat__prix {
  padding-right: 80px;
}

.plat:hover .check_icon {
  transform: rotate(360deg);
  transition: transform 300ms ease-in-out;
}

.heart {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: grey;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.remplissage {
  font-size: 30px;
  background: -moz-linear-gradient(totop, #e691b8 0%, #ad0a6f 100%);
  background: -webkit-linear-gradient(to top, #e691b8 0%, #ad0a6f 100%);
  background: linear-gradient(to top, #e691b8 0%, #ad0a6f 100%);
  position: relative;
  top: -19px;
  display: flex;
  transform: scale(0);
  transform-origin: bottom;
  width: max-content;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes remplissage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.05);
  }
}
.heart:hover + .remplissage {
  animation-name: remplissage;
  animation-duration: 250ms;
  animation-delay: 150ms;
  animation-fill-mode: both;
}

.H2_underline {
  position: relative;
  top: -25px;
  width: 75px;
  height: 4px;
  background-color: #99E2D0;
}

/* affichage plats en décalé */
@keyframes plat {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.plat:nth-child(3) {
  animation-delay: 0s;
}

.plat:nth-child(4) {
  animation-delay: 0.2s;
}

.plat:nth-child(5) {
  animation-delay: 0.4s;
}

/*# sourceMappingURL=style.css.map */
