/*$colour-accent: */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #FF79DA;
  width: 375px;
  margin: 0 auto;
}

main, footer {
  padding-left: 20px;
  padding-right: 20px;
}

* {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F0F0F0;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  margin: 20px auto;
  font-size: 3rem;
  color: grey;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.footer_title {
  font-family: "Shrikhand";
}

.title_index {
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  margin: 20px auto;
  font-size: 3rem;
  color: grey;
}

.bouton_commander {
  vertical-align: middle;
  margin: 0 auto;
  height: 50px;
  color: white;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.bouton_explorer {
  margin: 0 auto;
  height: 45px;
  font-size: 15px;
  color: white;
  width: 70%;
  text-align: center;
  border-radius: 22.5px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.header {
  background: #9356DC;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  font-size: 7rem;
  color: #FF79DA;
  margin-left: 10rem;
  /* @include heading-shadow($colour-white); */
}

.logo {
  margin: 0 auto;
  font-family: "Shrikhand";
  font-size: 3rem;
  text-align: center;
}

.fonctionnements {
  background-color: white;
  margin: 0 auto;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90%;
  border: 1px solid #9356DC;
  background-color: #F0F0F0;
  box-shadow: 10px 10px 10px grey;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
}
.fonctionnement:active {
  background-color: #FF79DA;
}
.fonctionnement__cercle {
  background-color: #9356DC;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.restaurants {
  margin-bottom: 60px;
}

.restaurant {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px grey;
  /* box-shadow: $box-shadow-restaurant; */
  margin-bottom: 20px;
}
.restaurant__note {
  display: flex;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}
.restaurant__name {
  font-weight: 700;
}
.restaurant__location {
  font-size: 15px;
}

.liste_plats {
  background-color: #F0F0F0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
  padding-top: 30px;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  /*border : 2px solid red;*/
}
.liste_plats__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}
.liste_plats__title__icon {
  color: grey;
}

.plat {
  width: 100%;
  font-size: 1.7rem;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #E0E0E0;
  height: 80px;
  margin-bottom: 20px;
}
.plat__titre {
  font-weight: 700;
}
.plat__note {
  font-size: 1, 8rem;
  display: flex;
}
.plat__prix {
  font-weight: 900;
  margin-left: auto;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding-left: 20px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer li {
  font-size: 14px;
  list-style: none;
}

.footer i {
  width: 30px;
}

.img_restaurant {
  width: 100%;
  object-fit: cover;
  object-position: 0% 60%;
  height: 180px;
  margin-top: -15px;
}

/*# sourceMappingURL=style.css.map */
