

  .bouton_commander {
    vertical-align: middle;
    margin: 0 auto;
    height: $bouton-commander-height;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: $bouton-commander-radius;
    background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
}

.bouton_explorer {
  
  margin: 0 auto;
  height: $bouton-explorer-height;
  font-size: 15px;
  color: white;
  width: 70%;
  text-align: center;
  border-radius: $bouton-explorer-radius;
  background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
}
