

  .bouton_commander {
    vertical-align: middle;
    margin: 0 auto;
    height: 50px;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
}
