*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    
    background-color: white;
    /*width: 375px; */
    margin: 0 auto;
}

main, footer {
    padding-left: 20px;
    padding-right: 20px;
}

* {
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}