body {
    background-color: $colour-background;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 3.5rem; 
}

h2 {
    font-weight: 550;
    margin: 20px auto;
    font-size: 3rem;
    color: grey ;
}

.h2_accueil {
    font-size: 20px;
    font-weight: 700;
    color: black
}

textarea {
    font-weight: 500;
    font-size: 2rem;
}

button {
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}

.footer_title {
    font-family: "Shrikhand";
}


.title_index {
    font-weight: 550;
    margin: 20px auto;
    font-size: 3rem;
    color: grey ;
}

p { font-size: 16px;
color: grey}



$font_size_restaurant_name : 18px;
$font_size_restaurant_location : $font_size_restaurant_name - 3