$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-font: black;
$colour-footer: #353535;
$colour-background: #F0F0F0;
$image_width: 375px;


$layout-margin: 10px;
/*$colour-accent: */

$heading-shadow-size: .55rem;

$grid-gutter: $layout-margin * .25;






