$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-font: black;
$colour-footer: #353535;
$colour-background: #F0F0F0;
$colour-recherche: #E0E0E0;
$colour-border-recherche: #D0D0D0;




$heading-shadow-size: .55rem;


/* $font-size-restaurant-name: 17px;
$font-size-restaurant-location: 15px; */

$colour-background-restaurant: white;
$border-radius-restaurant: 10px;
$box-shadow-restaurant: 10px 10px 10px grey;
$padding-left-restaurant: 15px;
$padding-right-restaurant: 25px;


$bouton-explorer-height: 45px;
$bouton-explorer-radius : $bouton-explorer-height *.5;

$bouton-commander-height: 50px;
$bouton-commander-radius : $bouton-commander-height *.5;


$hue: hue($colour-primary);
$sat: 100%;
$light: 93%;
$pastel_purple: hsl($hue,$sat,$light);







